@model List<Luxa.Models.UserModel>

@{
	ViewData["Title"] = "Panel administracyjny";
}
<h3>@ViewData["Title"]</h3>


<form>
	<button asp-action="CreateUser" asp-controller="Account" class="btn btn-primary">Stwórz nowego użytkownika</button>
	<table class="table table-responsive table-hover">
		<thead>
			<tr class="table-active">
				<th>Imie</th>
				<th>Nazwisko</th>
				<th>Kraj</th>
				<th>Numer telefonu</th>
				<th>E-mail</th>
				<th>Kategoria</th>
				<th>Nazwa użytkownika</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@if (Model != null && Model.Any())
			{
				@foreach (var users in Model)
				{
					<tr>
						<td>@users.FirstName</td>
						<td>@users.LastName</td>
						<td>@users.Country</td>
						<td>@users.PhoneNumber</td>
						<td>@users.Email</td>
						<td>@users.Category</td>
						<td>@users.UserName</td>
						<td>
							<div class="btn-group btn-group-sm">
								<a asp-controller="Account" asp-action="Edit" asp-route-id="@users.Id" class="btn btn-primary">Edytuj</a>
								<a asp-controller="Account" asp-action="Delete" asp-route-id="@users.Id" class="btn btn-danger">Usuń</a>
							</div>
						</td>
					</tr>
				}
			}
			else
			{
				<tr><td colspan="8">Brak dostępnych danych</td></tr>
			}
		</tbody>
	</table>
</form>