@model IEnumerable<Luxa.ViewModel.UsersListVM>

@{
	ViewData["Title"] = "Panel administracyjny";
}
<h3>@ViewData["Title"]</h3>


<form>
	<button asp-action="CreateUser" asp-controller="Account" class="btn btn-primary">Stwórz nowego użytkownika</button>
	<table class="table table-responsive table-hover">
		<thead>
			<tr class="table-active">
				<th>Nazwa użytkownika</th>
				<th>Kategoria</th>
				<th>Imie</th>
				<th>Nazwisko</th>
				<th>Kraj</th>
				<th>Numer telefonu</th>
				<th>E-mail</th>
				<th>Poziom</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@if (Model.Any())
			{
				@foreach (var user in Model)
				{
					<tr>
						<td>@user.User.UserName</td>
						<td>@user.Roles.FirstOrDefault()</td>
						<td>@user.User.FirstName</td>
						<td>@user.User.LastName</td>
						<td>@user.User.Country</td>
						<td>@user.User.PhoneNumber</td>
						<td>@user.User.Email</td>
						<td>@user.User.Level</td>


						<td>
							<div class="btn-group btn-group-sm">
								<a asp-controller="Account" asp-action="EditUser" asp-route-id="@user.User.Id" class="btn btn-primary">Edytuj</a>
								<a onclick="deleteUser('@user.User.Id')" class="btn btn-danger">Usuń</a>
							</div>
						</td>
					</tr>
				}
			}
			else
			{
				<tr><td colspan="9">Brak dostępnych danych</td></tr>
			}
		</tbody>
	</table>
</form>



<script>
	function deleteUser(id) {
		console.log("test");
		
		// $.ajax({
		// 	url: '/Contact/EditState',
		// 	type: 'POST',
		// 	data: { id: id },
		// 	success: function (response) {
		// 		console.log(response);

		// 	},
		// 	error: function (xhr, status, error) {
		// 		console.log(xhr);
		// 		console.log(status);
		// 		console.log('nie działa: ' + error);
		// 	}
		// });
	}
	function test() 
	{
		if (confirm("Czy na pewno chcesz usunąć tego użytkownika?")) {
			alert("Użytkownik zostaje usunięty.");
		} else {
			alert("Usunięcie elementu zostało anulowane.");
		}
	}


</script>

@*asp-controller="Account" asp-action="DeleteUser" asp-route-id="@user.User.Id"*@