@model Luxa.Models.Photo

@{
    ViewData["Title"] = "Szczegóły";
} 

<style>
    :root {
        --darker-violet: #2b2735;
        --dark-violet: #373341;
        --light-violet: #4C3C78;
        --lighter-violet: #614D99;
        --yellowish: #FAF0E6;
    }
    #photo-details {
        display:flex;
        flex-direction: row;
    }

    #photoSquare {
        width: 60%;
        max-height: 777.6px;
        display: flex;
        justify-content: center;
    }

    #photoSquare img {
        max-width: 100%;
        max-height: 100%;
    }

    #photo-right-panel {
        width: 40%;
        height: 80%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        color: var(--yellowish);
    }

    #user-details-box {
        display: flex;
        flex-direction: column;
    }

    #usr-photo-name {
    }

    #usr-avatar {
        width: 60px;
        height: 60px;
        border: 1px solid black;
        border-radius: 50%;
        margin-right: 10px;
    }

    #photo-addtime {
        font-size: 9pt;
        color: gray;
        padding-top: 5px;
    }

    .add-comment-div {
        display: flex;
    }

    .input-comment {
        width: 100%;
    }
    
    .input-comment textarea {
        resize: none;
    }

    .comment {
        margin: 2px;
        padding: 10px;
        background-color: var(--dark-violet);
        border-radius: 5px;
        display: flex;
    }

    #comment-list {
        display: flex;
        flex-direction: column-reverse;
        overflow-y: auto;
        max-height: 248px;
    }

    .comment-author {
        width: 10%;
        border-right: 1px solid black;
        margin: 0 10px;
    }
    .comment-text {
        width: 90%;
    }

</style>
<div id="photo-details">
    <div id="photoSquare">
        <img src="@("~/Image/"+Model.Name)" asp-append-version="true"/>
    </div>
    <div id="photo-right-panel">
        <div id="user-details-box">
            <div id="usr-photo-name">
                <a asp-controller="Account" asp-action="UserProfile" asp-route-userName="@Model.Owner.UserName">
                    <img id="usr-avatar" src="@(Model.Owner.AvatarUrl)" />
                </a>
                @Html.DisplayFor(model => model.Owner.UserName)
                <hr/>
            </div>
            <div id="photo-desc">
                @Html.DisplayFor(model => model.Description)
            </div>
            <div id="photo-addtime">
                @Html.DisplayFor(model => model.AddTime)
            </div>
        </div>
        <hr/>
        <div id="comments-section">
            <div id="comment-form">
                @* <h4>Dodaj komentarz</h4> *@
                <form class="add-comment-div" asp-action="AddComment" asp-controller="Comment" method="post">
                    <input type="hidden" name="photoId" value="@ViewBag.PhotoId" /> <!-- Przekazujemy ID zdjęcia -->
                    <div class="form-group input-comment">
                        <textarea class="form-control" name="Content" rows="3" placeholder="Napisz komentarz..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" ,asp-action="Photos">+</button>
                </form>
            </div>
            <hr/>
            <div id="comment-list">
                @* <h4>Komentarze</h4> *@
                <!-- Wyświetl komentarze przy użyciu widoku częściowego _CommentsPartial -->
                @await Html.PartialAsync("_CommentsPartial", ViewData["Comments"])
            </div>
        </div>
    </div>
    
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a> |
    <a asp-controller="Photos" asp-action="DownloadImage" asp-route-id="@Model?.Id">
        <button class="btn btn-primary">Download</button>
    </a>
</div>
